<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col-3">
        © 2024 Kevin Fung  [Page views: <span id="page-views">Loading...</span>]

        <!-- <p class="feed-subscribe">
          <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p> -->
      <!-- {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div> -->

    <!-- <div class="footer-social-icons">
      {%- include social.html -%}
      {% if site.social_links.linkedin %}
        <a href="{{ site.social_links.linkedin }}" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      {% endif %}
      
      {% if site.social_links.email %}
        <a href="{{ site.social_links.email }}">
          <i class="fas fa-envelope"></i>
        </a>
      {% endif %}

      {% if site.social_links.youtube %}
        <a href="{{ site.social_links.youtube }}" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
      {% endif %}
    </div> -->

  </div>

</footer>
