<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    <!-- GoatCounter integration -->
    <script>
      var t = setInterval(function() {
          if (window.goatcounter && window.goatcounter.visit_count) {
              clearInterval(t);
              window.goatcounter.visit_count({append: 'body'});
          }
      }, 100);
    </script>
    <script data-goatcounter="https://kky.goatcounter.com/count"
          async src="//gc.zgo.at/count.js"></script>

    <!-- Fetch page views and display in #page-views -->
    <script>
      fetch('https://kky.goatcounter.com/counter/' + encodeURIComponent(window.location.pathname))
        .then(response => response.json())
        .then(data => {
            document.getElementById('page-views').innerText = data.count;
        })
        .catch(error => {
            console.error('Error fetching page views:', error);
            document.getElementById('page-views').innerText = 'Unavailable';
        });
    </script>
    
  </body>

</html>
