<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main>
      <section class="page-home-content" aria-label="Content"> 
        <div class="wrapper">
          {{ content }}
        </div>
      </section>
      <section class="blog-posts-bg">
        <div class="wrapper">
          <div class="home-container">
            <div class="me-image-container2">
              <!-- <img src="/assets/imgs/me.JPG" alt="hi there" /> -->
            </div>
            
            <div class="blog-posts">
              <h5 class="blog-posts-text" style="font-size: 12px;">
                .My Notes
              </h5>
              {% if site.paginate %}
                {% assign posts = paginator.posts %}
              {% else %}
                {% assign posts = site.posts %}
              {% endif %}
            
              {%- if posts.size > 0 -%}
              {%- if page.list_title -%}
                <h2 class="post-list-heading">{{ page.list_title }}</h2>
              {%- endif -%}
              <ul class="post-list">
                {%- assign date_format = site.minima.date_format | default: ".%Y/%m/%d" -%}
                {%- for post in posts -%}

                <li>
                  <span class="post-meta">
                    {{ post.date | date: date_format }} 
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                  </span>
                </li>
                
                <!-- <li>
                  <span class="post-meta">{{ post.date | date: date_format }} <a class="post-link" style="margin-left: 40px; font-size: 12px;" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                      </a>
                  </span>
                  <!-- {%- if site.show_excerpts -%}
                    {{ post.excerpt }}
                  {%- endif -%} -->
                <!-- </li> -->
                {%- endfor -%}
              </ul>
            
              {% if site.paginate %}
                <div class="pager">
                  <ul class="pagination">
                  {%- if paginator.previous_page %}
                    <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
                  {%- else %}
                    <li><div class="pager-edge">•</div></li>
                  {%- endif %}
                    <li><div class="current-page">{{ paginator.page }}</div></li>
                  {%- if paginator.next_page %}
                    <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
                  {%- else %}
                    <li><div class="pager-edge">•</div></li>
                  {%- endif %}
                  </ul>
                </div>
              {%- endif %}
            
              {%- endif -%}
          </div>
        </div>
      </section>
      <section class="blog-posts-bg-2">
        <div class="wrapper">
          <div class="home-container">
            <!-- <div class="me-image-container2">
               <img src="/assets/imgs/me.JPG" alt="hi there" />
            </div>  -->
            
            <div class="blog-posts">
              <!-- <h5 class="blog-posts-text" style="font-size: 12px;">
                .External Projects
              </h5> -->
              <h5 class="blog-posts-text" style="font-size: 12px; margin-left: 10px;">
                .External Projects
              </h5>

              <div class="list-container">

                <ul class="date-list post-date">
                  <li>Oct 2024</li>
                  <li>Sept 2023</li>
                  <li>Oct 2022</li>
                  <li>Oct 2020</li>
                  <li>Jun 2020</li>
                  <li>Oct 2019</li>
                  <li>May 2019</li>
                  <li>Mar 2019</li>
                </ul>
                <ul class="content-list">
                  <li>Expedia, Global Hackathon 2024</li>
                  <li>Expedia, Global Hackathon 2023 </li>
                  <li>Expedia, Global Hackathon 2022 </li>
                  <li>Swift, SIBOS Hackathon</li>
                  <li>Facebook, Online Hackathons</li>
                  <li>BlackRock, Algothon</li>
                  <li>Imperial College London</li>
                  <li>Imperial College London</li>
                </ul>
                <ul class="content-list-2">
                  <li><a href="/external_projects/#:~:text=Expedia%2C%20Global%20Hackathon%202024">&nbsp Events Based AdCopy Content Generator</a></li>
                  <li><a href="/external_projects/#:~:text=Expedia%2C%20Global%20Hackathon%202023">&nbsp Mobile Ad Image Generator</a></li>
                  <li><a href="/external_projects/#:~:text=Expedia%2C%20Global%20Hackathon%202022">&nbsp Multigroup Travel Bookings Scheduler</a></li>
                  <li><a href="/external_projects/#:~:text=Swift%2C%20SIBOS%20Hackathon">&nbsp Managing Risk and Financial Crime</a></li>
                  <li><a href="/external_projects/#:~:text=Facebook%2C%20Online%20Hackathons">&nbsp Wit AI Chatbot</a></li>
                  <li><a href="/external_projects/#:~:text=BlackRock%2C%20Algothon,-Global%20Supply%20Chain">&nbsp Global Supply Chain Stock Price Predictor</a></li>
                  <li><a href="/external_projects/#:~:text=Imperial%20College%20London,K%2DMNIST%20Challenge">&nbsp K-MNIST Challenge</a></li>
                  <li><a href="/external_projects/#:~:text=May%202019-,Imperial%20College%20London,-Genetic%20Algorithms%20Challenge">&nbsp Genetic Algorithms Challenge</a></li>
                </ul>
              </div>
          </div>
        </div>
      </section>
    </main>

  <!-- GoatCounter integration -->
  <!-- <script>
    var t = setInterval(function() {
        if (window.goatcounter && window.goatcounter.visit_count) {
            clearInterval(t);
            window.goatcounter.visit_count({append: 'body'});
        }
    }, 100);
  </script> -->
  <script data-goatcounter="https://kky.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

  <script>
    var r = new XMLHttpRequest();
    r.addEventListener('load', function() {
        document.querySelector('#page-views').innerText = JSON.parse(this.responseText).count
    })
    r.open('GET', 'https://kky.goatcounter.com/counter/' + encodeURIComponent(location.pathname) + '.json')
    r.send()
  </script>

<!-- Fetch page views and display in #page-views -->
  <!-- <script>
    fetch('https://kky.goatcounter.com/counter/' + encodeURIComponent(window.location.pathname))
      .then(response => response.json())
      .then(data => {
          document.getElementById('page-views').innerText = data.count;
      })
      .catch(error => {
          console.error('Error fetching page views:', error);
          document.getElementById('page-views').innerText = 'Unavailable';
      });
  </script> -->

  </body>
  {%- include footer.html -%}

</html>
