---
layout: home_base
---

<div class="home">
  <!-- {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} -->

  <div class="home-container">
    <!-- <div class="me-image-container">
      <img src="/assets/imgs/me-cropped.JPG" alt="hi there" class="image image-shadow"/>
    </div> -->

    <div class="me-image-container">
      <img src="/assets/imgs/me-cropped-4.JPG" alt="hi there" class="image image-shadow"/>
    </div>
    
    <div class="right-box">
      <h2 style="letter-spacing: 0em !important; font-weight: 500; font-size: 20px;">KEVIN FUNG [MLE]</h2>
        <!-- {{ content }} -->
      <div>
        Hi there! I'm Kevin. A machine learning engineer based in London with 6+ years industry experience holding a masters in Applied Computational Science and Engineering at Imperial College London. 
      </div>
      <div style="width: 95%">
        <br>
        Currently I'm building ad marketing platform systems serving hundreds of complex machine learning pipelines at Expedia Group. </div>
      <div style="width: 85%">
        <br>
        This little portfolio website is just a place for me to drop any notes I might have had in mind and/or anything else. Thanks for dropping by!
      </div>

      <div class="contacts">
        <div class="footer-social-icons">

          {% if site.social_links.medium %}
          <a href="{{ site.social_links.medium }}" target="_blank">
            <i class="fab fa-medium"></i>
          </a>
          {% endif %}

          {% if site.social_links.linkedin %}
            <a href="{{ site.social_links.linkedin }}" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          {% endif %}
          
          {% if site.social_links.email %}
            <a href="{{ site.social_links.email }}">
              <i class="fas fa-envelope"></i>
            </a>
          {% endif %}
    
          {% if site.social_links.github %}
            <a href="{{ site.social_links.github }}" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          {% endif %}

          {% if site.social_links.webring %}
          <a href="{{ site.social_links.webring }}" target="_blank">
            <img src="assets/imgs/webring.png" alt="Webring" width="15" height="13">
          </a>
          {% endif %}

        </div>
        </div>
    </div>
  </div>
  
</div>

<!-- <div class="blog-posts-bg">
  hellofasd
</div> -->
